fastapi==0.115.6
numpy==1.26.4
opencv-python==4.11.0.86
openpyxl==3.1.5
phonenumbers==8.13.39
Pillow==11.0.0
pydantic==2.10.4
PyMuPDF==1.27.2
pytest==8.3.3
httpx==0.28.1
python-docx==1.1.2
python-multipart==0.0.20
pyzbar==0.1.9
redis==5.2.1
rq==2.1.0
limits==4.8.0
tqdm==4.66.6
uvicorn==0.34.0
